html {
	background-color:#039BE5;
	color:#000;
	font-family:"Roboto", sans-serif;
	font-size: 14px;
}
h1 {
	color:#fff;
	font-size:2.5rem;
	font-weight:normal;
}
button,
.statement-picker {
	background-color:#4FC3F7;
	border:none;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	cursor:pointer;
	font-size:1.25rem;
	margin-bottom:1.5rem;
	padding:2rem;
}

.centered-column {
	margin:0 auto;
	max-width:54rem;
	width:100%;
}
.header {
	margin:10rem 0 3rem 0;
}
.content {
	min-height:30rem;
}
.message {
	background-color:#B3E5FC;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	color:#000;
	font-size:1.5rem;
	margin-bottom:1.5rem;
	padding:1.7rem;
}
.message.mod-error {
	background-color:#EF9A9A;
}
.statement-input {
	display:none;
}
.statement-picker {
	display:inline-block;
}
.selected-statement {
	font-size:1.25rem;
	margin-left:2rem;
}
.sheet-picker,
.password-input {
	border:none;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	display:inline-block;
	font-family:"Roboto", sans-serif;
	font-size:1.25rem;
	height:3rem;
	margin-bottom:1.5rem;
	padding:0 1.7rem 0 1.7rem;
}
.credits,
.privacy-policy {
	color:#fff;
	margin-bottom:1.5rem;
	opacity:.7;
}
.credits a {
	color:#fff;
}